<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://unpkg.com/@tailwindcss/browser@4"></script>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</head>
<body>

    <div class="main bg-zinc-900 h-screen">
        <div class="videos relative w-full h-[90%]">
            <video autoplay muted playsinline id="remote" class="bg-cover w-full h-full"></video>
            <video autoplay muted playsinline id="local" class="bg-cover w-[120px] rounded-lg h-[180px] absolute bottom-5 right-5"></video>
        </div>
        <div class="controllers flex items-center justify-center gap-6 w-full h-[10%]">
            <button type="button" class="video bg-green-500 h-[50px] flex items-center justify-center text-2xl rounded-full text-white shadow-lg w-[50px]">
                <ion-icon name="videocam-outline"></ion-icon>
            </button>
            <button type="button" class="call bg-green-500 h-[50px] flex items-center justify-center text-2xl rounded-full text-white shadow-lg w-[50px]">
                <ion-icon name="mic-outline"></ion-icon>
            </button>
        </div>
    </div>

    <script src="https://cdn.socket.io/4.8.1/socket.io.min.js" integrity="sha384-mkQ3/7FUtcGyoppY6bz/PORYoGqOl7/aSUMn2ymDOJcapfS6PHqxhRTMh1RR0Q6+" crossorigin="anonymous"></script>
    <script src="./js/script.js"></script>
</body>
</html>